# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
#*.sqlite3
*.log

# venv
env
env_linux
.venv

# uploads
uploads/

# other
.DS_Store